/* Common objects */
html {
    width: 100%;
    background-color: #283b6e;
    margin:0;
    padding:0;
    overflow-x: hidden;
}

body {
    width: 100%;
    font-family: "微軟正黑體",sans-serif;
    overflow-x: hidden;
    margin:0;
    padding:0;
    background-color: #283b6e;
    color: #fffadc;
    word-wrap:break-word;
    position: relative;
}
h1,h2,h3,h4,h5,h6{
   -webkit-text-fill-color: #fffadc; /* Will override color (regardless of order) */
   word-wrap:break-word;
   text-shadow:
   -2px -2px 0 #261b0e,  
    2px -2px 0 #261b0e,
    -2px 2px 0 #261b0e,
     2px 2px 0 #261b0e,
     0px 2px 0 #261b0e,
     2px 0px 0 #261b0e,
     0px -2px 0 #261b0e,
    -2px 0px 0 #261b0e;
}
p{
    word-wrap:break-word;
}
/* ---- reset ---- */  canvas{ display: block; vertical-align: bottom;position:fixed; } /* ---- particles.js container ---- */ #particles-js{ position:fixed; width: 100%; height: 100%; background-color: #283b6e; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{  } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }
.fullpage{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
}
.context{
    width: 100%;
    position: relative;
    margin: 0px;
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgba(15,21,40,0.5);
}
.fixed{
    position:fixed;
}
#mylogo{
    position: absolute;
    margin: 0px auto;
    height:50%;
    padding: 10%;
    left:50%;
    top:50%;
    -webkit-transform-origin: 50%, 50% 0px; /* Chrome, Safari, Opera */
    -ms-transform-origin: 50%, 50% 0px; /* IE 9 */
    transform-origin: 50% 50% 0px;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
}
#mylogoImg{
    -webkit-transform-origin: 50%, 50% 0px; /* Chrome, Safari, Opera */
    -ms-transform-origin: 50%, 50% 0px; /* IE 9 */
    transform-origin: 50% 50% 0px;
    -ms-transform: scale(0.9, 0.9); /* IE 9 */
    -webkit-transform: scale(0.9, 0.9); /* Safari */
    transform: scale(0.9, 0.9);
    transition:0.5s;
}
#mylogoImg:hover, #mylogoImg:active{
    -ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Safari */
    transform: scale(0.8,0.8);
}
/*div{
    outline-width: 2px;
    outline-style: solid;
    outline-color: #FFFFFF;
    margin:0;
    padding:0;
}*/
.linkbtn{
    position: absolute;
    margin: 0px auto;
    height:15%;
    width:15%;
    left:50%;
    top:50%;
    -webkit-transform-origin: 50%, 50% 0px; /* Chrome, Safari, Opera */
    -ms-transform-origin: 50%, 50% 0px; /* IE 9 */
    transform-origin: 50% 50% 0px;
    -ms-transform: translate(-50%, -50%) scale(0,0); /* IE 9 */
    -webkit-transform: translate(-50%, -50%) scale(0,0); /* Safari */
    transform: translate(-50%, -50%) scale(0,0);
    transition:0.5s;
}
img{
    height:100%;
}